body {
  font-family: Arial;
  max-width: 600px;
  margin: auto;
}

.step {
  display: none;
}

.step.active {
  display: block;
}

input, textarea, button {
  display: block;
  width: 100%;
  margin: 8px 0;
}
